body {
    font-family: "Fira Sans", serif;
    background-color: #f4f4f4;
    width: 1600px;
    height: 5300px;
    margin: 5%;
    justify-self: center;
    overflow-x: hidden;
}

header {
    background-color: #C6E4D6;
    color: #fff;
    display: flex;
    margin-top: 5%;
    justify-self: center;
    justify-content: center;
    padding: 100px 80px;
    border-radius: 20px;
    width: 1120px;
    height: 360px;
}
.sub-head{
    color: #0E0E0E;
    opacity: 50%;
    font-size: 24px;
    margin-bottom: 1em;

}

.banner{
    align-items: left;
    height: 326px;
    width: 622px;
    
    
}
.sub-cont{
    align-items: left;
    height: 246px;
    width: 622px;    
    
}
.pg-1{
    font-size: 56px;
    font-weight: bold;
    color: black;
    margin: 0;
}
.btn-1{
    background-color: #006A50;
    border-radius: 10px;
    font-size: 1em;
    padding: 17px 34px;
    border: 0cm;
    color: #fff;
    height: 56px;
    width: 270px;
    margin-top: 2em;
}

.png-1{
    width: 474.03px;
    height: 400px;
    align-self: center;
}

main{
    width: 1280px;
    margin: 0 auto;
}

.vis-of-future{
    height: 765px;
    margin: 0 auto;
    margin-top: 5%;
    
}
.sub-cont-1{
    height: 120px
}
.png-2{
    width: 64px;
    height: 64px;
    align-self: left;
}
.card-div-1{
    width: 346.67px;
    height: 108px;
}
.btn-2{
    width: 122px;
    height: 50px;
    padding: 15px 15px;
    background-color: #5490F5;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 1em;
    
}
.btn-3{
    width: 122px;
    height: 50px;
    padding: 15px 15px;
    background-color: #2ab936;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 1em;
    
}
.btn-4{
    width: 122px;
    height: 50px;
    padding: 15px 15px;
    background-color: #efa423;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 1em;
    
}

.cards{
    width: 1280px;
    height: 325px;
    display: flex;
    justify-self: center;
    gap: 20px;
    padding-top: 25px;
}
.card-1{
    width: 346.67px;
    height: 261px;
    padding: 32px 32px;
    background-color: #a1bdec;
    border-radius: 10px;
    justify-self: left;
}
.card-2{
    width: 346.67px;
    height: 261px;
    padding: 32px 32px;
    background-color: rgb(179, 239, 179);
    border-radius: 10px;
}

.card-3{
    width: 346.67px;
    height: 261px;
    padding: 32px 32px;
    background-color: rgb(233, 233, 153);
    border-radius: 10px;
}
.quote{
    display: flex;
    flex-direction: column;
    height:245px;
    margin-top: 2.5%;
    background-color: white;
    border-radius: 10px;
    padding: 24px 24px 24px 24px;
    justify-content: flex-start;
    position: relative;

}
.quote-cont{
    position: absolute;
    top: auto;
}
p{
    line-height: 24px;
    color: #4b4a4a;
}
.pg-5{
    position: absolute;
    bottom: auto;
}
.png-3{
    height: 64px;
    width: 64px;
    position: absolute;
    top: auto;
    
}
.sub-cont-2{
    margin-top: 5%;
}
.recent-news{
    width: 1280px;
    margin: auto;
    margin-top: 6%;
}
.ncard-1{
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 48px 48px;
    justify-content: space-between;
}
.ncard-cont{
    width: 744px;
    height: 290px;
}
.ncard-sub-cont{
    display: flex;
    gap: 10px;
}
.png-4{
    border-radius: 25px;
}

.ncard-h{
    margin-top: 0;
}
.pg-6{
    margin-top: 0;
}
.news-cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;
}
.btn-5{
    width: 122px;
    height: 50px;
    padding: 15px 15px;
    background-color: #006A50;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 0em;
    
}
.sub-head-3{
    margin-inline-start: 5%;
    margin-inline-end: 5%;
}
.donate-div{
    margin-top: 8%;
    text-align: center;
    height: 464px;
    
}
.donate-card{
    width: 1071px;
    height: 128px;
    margin-top: 3%;
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    justify-self: center;
}
.donate-card-1{
    width: 200px;
    height: 88px;
    border-radius: 20px;
    background-color: white ;
    padding: 40px 40px;
    border: 2px solid lightgray;
    border-color: 2px #c3c6ce;
    place-content: center;
    transition: 0.5s ease-out;
}
.donate-card-1:hover{
    background-color: #C6E4D6;
}
#inp-field{
    text-align: center;
    height: 64px;
    width: 1032px;
    margin-top: 6%;
    border: 2px solid lightgray;
}
.btn-6{
    width: 134px;
    height: 50px;
    padding: 17px 17px;
    background-color: #006A50;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 1.5em;
    
}
.newsletter{
    width: 1170px;
    height: 295px;
    padding: 55px 55px;
    margin: 0 auto;
    margin-top: 8%;
    background-color: #C6E4D6;
    border-radius: 20px;
    text-align: center;
}
.sub-head-4{
    margin: 0 auto;
    width: 750px;
    height: 112px;
}
.letter-field{
    margin-top: 2%;
    display: flex;
    justify-self: center;
    justify-items: center;
}
.btn-7{
    width: 150px;
    height: 53px;
    padding-left: 34px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    background-color: #006A50;
    font-size: 16px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    border: 0;
    
}
#field{
    width: 600px;
    height: 34px;
    padding-left: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 10px 0px 0px 10px;
    border: 0;
}
footer {
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 226px;
    background-color: #ffffff;
    padding: 65px 25px 65px 25px;

}
.line{
    justify-self: center;
    margin-top: 2em;
    width: 1122px;
    border-top: 1px solid lightgray
}
.pngs{
    width: 120.55px;
    height: 24px;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    justify-self: center;
}
