body {
    font-family: Arial, sans-serif;
    margin: 5%;
    padding: 0;
    background-color: #f4f4f4;
    max-height: 5300px;
    max-width: 1600px;
}

header {
    background-color: #C6E4D6;
    color: #fff;
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 100px 80px;
    border-radius: 20px;
    width: 1120px;
    height: 360px;
}
.sub-head{
    color: #0E0E0E;
    opacity: 50%;
    font-size: 24px;
    margin-bottom: 1em;

}

.banner{
    align-items: left;
    height: 326px;
    width: 622px;
    
    
}
.sub-cont{
    align-items: left;
    height: 246px;
    width: 622px;    
    
}
.pg-1{
    font-size: 56px;
    font-weight: bold;
    color: black;
    margin: 0;
}
.btn-1{
    background-color: #006A50;
    border-radius: 10px;
    font-size: 1em;
    padding: 17px 34px;
    border: 0cm;
    color: #fff;
    height: 56px;
    width: 270px;
    margin-top: 1em;
}

.png-1{
    width: 474.03px;
    height: 400px;
    align-self: center;
}



.vis-of-future{
    width: 1280px;
    height: 765px;
    margin: auto;
    margin-top: 5%;
}
.sub-cont-1{
    height: 120px
}
.png-2{
    width: 64px;
    height: 64px;
    align-self: left;
}
.card-div-1{
    width: 346.67px;
    height: 108px;
}
.btn-2{
    width: 122px;
    height: 50px;
    padding: 15px 15px;
    background-color: #5490F5;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 1em;
    
}
.btn-3{
    width: 122px;
    height: 50px;
    padding: 15px 15px;
    background-color: #2ab936;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 1em;
    
}
.btn-4{
    width: 122px;
    height: 50px;
    padding: 15px 15px;
    background-color: #efa423;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 1em;
    
}

.cards{
    width: 1280px;
    height: 325px;
    display: flex;
    justify-self: center;
    gap: 20px;
    padding-top: 25px;
}
.card-1{
    width: 346.67px;
    height: 261px;
    padding: 32px 32px;
    background-color: #a1bdec;
    border-radius: 10px;
    justify-self: left;
}
.card-2{
    width: 346.67px;
    height: 261px;
    padding: 32px 32px;
    background-color: rgb(179, 239, 179);
    border-radius: 10px;
}

.card-3{
    width: 346.67px;
    height: 261px;
    padding: 32px 32px;
    background-color: rgb(233, 233, 153);
    border-radius: 10px;
}
.quote{
    display: flex;
    flex-direction: column;
    height:208px;
    margin-top: 5%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 2px lightgray;
    padding: 24px 48px;
    justify-content: flex-start;
    position: relative;

}
.quote-cont{
    position: absolute;
    top: auto;
}
p{
    line-height: 24px;
    color: #646363;
}
.pg-5{
    position: absolute;
    bottom: auto;
}
.png-3{
    height: 64px;
    width: 64px;
    position: absolute;
    top: auto;
    
}
.sub-cont-2{
    margin-top: 5%;
}
.recent-news{
    width: 1280px;
    margin: auto;
    margin-top: 8%;
}
.ncard-1{
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 2px lightgray;
    padding: 48px 48px;
    justify-content: space-between;
}
.ncard-cont{
    width: 744px;
    height: 290px;
}
.ncard-sub-cont{
    display: flex;
    gap: 10px;
}
.png-4{
    border-radius: 25px;
}

.ncard-h{
    margin-top: 0;
}
.pg-6{
    margin-top: 0;
}
.news-cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 20px;
}
.btn-5{
    width: 122px;
    height: 50px;
    padding: 15px 15px;
    background-color: green;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: 0cm;
    margin-top: 0em;
    
}
footer {

}
